@page
@using System.Text.Json;

@model Website.IndexModel

@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Login";
}

<div class="container mt-5" style="max-width: 768px;">
    <a class="btn btn-primary" href="https://localhost:7274/login?return=https://localhost:7039/login-callback">Login to authentication server</a>
</div>
