@page
@using System.Text.Json;

@model Website.IndexModel

@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Login";
}

<div class="container mt-5" style="max-width: 768px;">

    <form method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <h1>Login</h1>
            <div class="mb-3">
                <label for="formFile" class="form-label">Please provide your certificate:</label>
                <input class="form-control" type="file" name="certificate">
            </div>
            <button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>
