@page
@using System.Text.Json;

@model Website.LoggedInModel

@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Logged in";
}

<div class="container mt-5" style="max-width: 768px;">
    <h1>You are logged in</h1>

</div>
